{% extends 'store/main.html' %}
{% load static %}


{% block content %}
<style>
    .welcome-text {
        color: black;
    }
    .food-link {
        color: red;
    }
    .food-button {
        font-size: 25px;
        background-color: grey;
        color: lightblue;
        border-radius: 10px;
    }
</style>

<h2 class="welcome-text">Welcome to the official Game Day Grill website, serving our customers upscale, delicious food since 1983!</h3>
<p class="welcome-text">  
    We have many great options for all cuisines, and great drinks to go with your food as well. See our options below:
</p>
<!-- <a href="https://en.wikipedia.org/wiki/Butter_chicken" target="_blank">
    <img src="butter chick q.png" height="300" width="300" title="Our delicious butter chicken!">
</a>
<a href="https://en.wikipedia.org/wiki/Indian_cuisine" target="_blank" title="Our Indian food items!">
    <button class="food-button">Our Options For Indian Food</button>
</a>
<a href="https://en.wikipedia.org/wiki/Pasta" target="_blank">
    <img src="pasta.png" height="300" width="300" title="Our yummy pasta!">
</a>
<a href="https://en.wikipedia.org/wiki/Italian_cuisine" target="_blank" title="Our Italian food items!" class="food-link">
    Our Options For Italian Food
</a>
<a href="https://en.wikipedia.org/wiki/Burrito" target="_blank">
    <img src="burrito.png" height="300" width="300" title="Our scrumptious burrito!">
</a>
<a href="https://en.wikipedia.org/wiki/Mexican_cuisine" target="_blank" title="Our Mexican food items!" class="food-link">
    Our Options For Mexican Food
</a>
<a href="https://en.wikipedia.org/wiki/Dumpling" target="_blank">
    <img src="dumplings.png" height="300" width="300" title="Our fabulous dumplings!">
</a>
<a href="https://en.wikipedia.org/wiki/Chinese_cuisine" target="_blank" title="Our Chinese food items!" class="food-link">
    Our Options For Chinese Food
</a>
<a href="https://en.wikipedia.org/wiki/Food" target="_blank" title="All our choices!" class="food-link">
    All of our menu items
</a> -->
{% endblock content %}