{% extends 'store/main.html' %}
{% load static %}
{% block content %}
  <style>
    header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

h1 {
    font-size: 5.5rem;
}

p {
    font-size: 1.5em;
}

.img-container {
  position: relative;
  width: 100%;
  height: 55vh;
}

#top-img {
    width: 100%;
    height: 55vh;
    object-fit: cover;
    filter: brightness(50%);
    border-radius: 1%;
}
  </style>

  <div class="img-container">
    <img id="top-img" src="https://images.squarespace-cdn.com/content/v1/5df80109be13de212e4018ec/1582145140227-JKDX4KCIXJZ84NHQ8GGD/sc2020-102.jpg" alt="">
    <header>
        <h1 style="color: white;">Reservation</h1>
        <p style="color: white;">Book a reseration with us today!</p>
    </header>
  </div>

  <div class="box reservationbox">
    <div class="centerBox">
      <div id="user-info">
        <h2>Fill out the form below to make a reservation.</h2>
      </div>
      <form id="form">
        {% csrf_token %}
        <div id="shipping-info">
          <div class="form-field">
            <input required class="form-control" type="text" name="firstName" placeholder="First Name" required>
          </div>
          <div class="form-field">
            <input required class="form-control" type="text" name="lastName" placeholder="Last Name" required>
          </div>
          <div class="form-field">
            <input required class="form-control" type="email" name="email" placeholder="Email" required>
          </div>
          <div class="form-field">
            <input required class="form-control" type="tel" name="tel" placeholder="Phone Number" required>
          </div>
          <div class="form-field">
            <input required class="form-control" type="number" name="partySize" placeholder="Party Size" required>
          </div>
          <div class="form-field">
            <input required class="form-control" type="time" name="time" min="11:00" max="22:00" placeholder="Time" required>
          </div>
          <div class="form-field">
            <input required class="form-control" type="text" name="specialRequest" placeholder="Special Requests">
          </div>
        </div>
      </form>
      <button id="book-a-reservation">Book A Reservation</button>
    </div>
  </div>

  <script type="text/javascript">
    document.getElementById('book-a-reservation').addEventListener('click', function(e){
			submitFormData()
		})

		function submitFormData(){
      var form = document.getElementById('form')

      var userFormData = {
        'firstName':null,
        'email':null,
        'phoneNumber':null,
        'lastName': null,
        'partySize': null,
        'specialRequest': null,
        'time': null,
      }

      userFormData.firstName = form.firstName.value
      userFormData.lastName = form.lastName.value
      userFormData.email = form.email.value
      userFormData.phoneNumber = form.tel.value
      userFormData.partySize = form.partySize.value
      userFormData.specialRequest = form.specialRequest.value
      userFormData.time = form.time.value

      var url = "/process_reservation/"
      fetch(url, {
        method:'POST',
        headers:{
          'Content-Type':'application/json',
        },
        body:JSON.stringify({'form':userFormData})
      })
      .then((response) => response.json())
      .then((data) => {
        alert('Reservation has been booked!');

        window.location.href = "{% url 'home' %}"
      })
    }
  </script>
{% endblock content %}