/* @import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Lexend Deca', sans-serif;
}

h1,h2,h3,h4,h5,h6, p{
	color:hsl(0, 0%, 30%);
    font-family: 'Lexend Deca', sans-serif;
}

.spinner-wrapper {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-border {
    height: 60px;
    width: 60px;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.box {
	box-shadow: hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
	display: flex;
	height: auto;
}

.reservationbox {
	justify-content: center;
}

.side-area {
	width: auto;
	padding: 20px;
}

.map {
	flex: 0;
}

.divbox {
    flex: 1;
    height: 30em;
    background-color: #D3D3D3;
    padding-left: 20px;
    width: auto;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}


.form-field {
    width: 250px;
    display: block;
    padding: 5px;
    text-align: center;
}

.centerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
}

h2 {
	text-align: center;
}

h2#contacth2 {
	text-align: left;
}

.nav-link {
    position: relative;
    color: black !important;
    border-radius: 5px;
    padding: 10px;
}

.nav-link:hover {
    text-decoration: none;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f00;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover::after {
    visibility: visible;
    width: 100%;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 992px) {
    .nav-link:hover {
        animation: none;
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}

@media only screen and (max-width: 600px) {
    .nav-link {
        font-size: 14px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .nav-link {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .nav-link:hover {
        animation: none;
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}